// CSW
$csw-public-red: #D7205F;
$csw-dark-public-red: #AC1A4C;
$csw-teal: #5FC1C7;


// CSC
$croucher-red: #EE3A43;
$info-color: #549dc4;
$success-color: #0ebe78;
$gray-color: #d3d3d3;
$darker-gray-color: #555;

$white-color: #fff;
$csw-grey-2: #F3F3F0;
$black-color: #000;
$dark-color: #111;