@import "./_croucher/_constants";
@import "./_croucher/_extends";

// Essential Required Fonts And Breakpoints
@import "./_croucher/_fonts";
@import "./_croucher/_breakpoints";

// Each Component Style
@import "./_croucher/_navbar";
@import "./_croucher/_navbar-admin";
@import "./_croucher/_footer";
@import "./_croucher/_subscriber_box";
@import "./_croucher/buttons/buttons";
@import "./_croucher/containers/containers";
@import "./_croucher/containers/containers";
@import "./_croucher/cards/cards";

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "MarrSans";
  margin: 0;
}
