@import "./_croucher/_constants";
@import "./_croucher/_extends";

// Essential Required Fonts And Breakpoints
// $font-path: "../fonts/";
// @import "./_croucher/_fonts";
@import "./_croucher/_breakpoints";
@import "./_croucher/spacers/spacing";

// Each Component Style
@import "./_croucher/_navbar";
@import "./_croucher/_navbar-admin";
@import "./_croucher/_navbar-sub";
@import "./_croucher/_search";
@import "./_croucher/breadcrumb/_breadcrumb";
@import "./_croucher/_footer";
@import "./_croucher/_subscriber_box";
@import "./_croucher/_announce_box";
@import "./_croucher/_gray_box";
@import "./_croucher/buttons/buttons";
@import "./_croucher/containers/containers";
@import "./_croucher/containers/containers";
@import "./_croucher/cards/cards";
@import "./_croucher/detail/_banner";
@import "./_croucher/detail/_content";
@import "./_croucher/image/_hero-image";
@import "./_croucher/award/croucher_image_award";
@import "./_croucher/sign_in_out";

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

body, *{
  font-family: "MarrSans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}