.croucher_input {
  // margin-bottom: 16px;
  &_label {
  }
  &_group {
    input,
    input:active,
    input:focus,
    textarea,
    textarea:active,
    textarea:focus {
      outline: none;
      border: 1px solid #dfdfdf;
      border-radius: $rounded-5;
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 16px;
    }
    textarea {
      resize: vertical;
    }
  }

  .error_message {
    font-size: 10px;
    color: $croucher-red;
    position: absolute;
    bottom: -20px;
    left: 0;
    &.account_settings_error_message{
      a{
        display: none;
      }
    }
  }

  .croucher_input_invalid {
    border: 1px solid $croucher-red !important;
  }
}

.sign_in_form, .auth_container_wrapper {
  .error_message {
    color: $croucher-red;
    font-size: 14px;
    margin-bottom: 1rem;

    .closer {
      display: none;
    }
    
    @include md {
      margin-bottom: 0;
    }
  }
  
  input {
    border-radius: 5px;
    margin-bottom: 0.25rem;
    border: none;
    outline: none;

    &:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
    
    &.has-error {
      border: 1px solid $croucher-red !important;
      
      &:focus {
        border-color: $croucher-red !important;
        outline: $croucher-red !important;
      }
    }
    
    &:not(.has-error) {
      &:focus {
        border-color: #dfdfdf !important;
      }
    }
  }

  &.has_error {
    @include md {
      height: 370px !important;
    }
  }
}
