.croucher_input {
  // margin-bottom: 16px;
  &_label {
  }
  &_group {
    input,
    input:active,
    input:focus,
    textarea,
    textarea:active,
    textarea:focus {
      outline: none;
      border: 1px solid #dfdfdf;
      border-radius: $rounded-5;
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 16px;
    }
    textarea {
      resize: vertical;
    }
  }

  .croucher_input_invalid {
    border: 1px solid $croucher-red !important;
  }
}

.sign_in_form {
  input {
    border-radius: 5px;
    margin-bottom: 0.25rem;
    border: none;
    outline: none;

    &:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }

    &.has-error {
      border: 1px solid $croucher-red !important;

      &:focus {
        border-color: $croucher-red !important;
        outline: $croucher-red !important;
      }
    }

    &:not(.has-error) {
      &:focus {
        border-color: #dfdfdf !important;
      }
    }
  }

  &.has_error {
    @include md {
      height: 370px !important;
    }
  }
}

.error_message_container_desktop {
  display: none;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  width: 100%;

  @include md {
    display: block;
  }
}

.error_message_container_mobile {
  display: block;
  margin-top: 0.5rem;
  width: 100%;

  @include md {
    display: none;
  }
}

.error_message {
  color: $croucher-red;
  font-size: 14px;
  line-height: 1.2;
  display: block;
  word-wrap: break-word;
  white-space: normal;
  .closer {
    display: none;
  }

  @include md {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

input.checkbox {
  display: none;
}

label.checkbox_label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 2px solid #9a9b97;
    border-radius: 5px;
  }

  &::after {
    content: 'X';
    position: absolute;
    left: 14px;
    top: 56%;
    transform: translate(-50%, -50%);
    color: #9a9b97;
    font-size: 25px;
    font-weight: normal;
    visibility: hidden;
  }

  &.mb {
    margin-bottom: 1.8rem;
  }
}

input.checkbox:checked + label.checkbox_label::after {
  visibility: visible;
}
.standard-checkbox,
.standard-radio {
  display: inline-flex;
  align-items: center;

  &.d-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .standard-checkbox-label, .standard-radio-label {
      margin-bottom: 20px;
    }
  }
}

.standard-checkbox input[type='checkbox'],
.standard-radio input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.standard-checkbox .standard-checkbox-label,
.standard-radio .standard-radio-label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  min-height: 22px;
  line-height: 22px;
  &.overflow-unset {
    overflow: unset !important;
  }
  &.bg-image-unset {
    background-position: unset !important;
    background-image: unset !important;
  }
}

.standard-checkbox .standard-checkbox-label::before,
.standard-radio .standard-radio-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border: 1px solid #9a9b97;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #9a9b97;
  transition: box-shadow 0.1s ease;
}

.standard-radio .standard-radio-label::before {
  border-radius: 50%;
}

.standard-checkbox .standard-checkbox-label:hover::before,
.standard-radio .standard-radio-label:hover::before {
  box-shadow: inset 0 0 0 1px #9a9b97;
}

.standard-checkbox .standard-checkbox-label::after {
  content: '';
  position: absolute;
  left: 8.5px;
  top: 1px;
  width: 5px;
  height: 11px;
  border: solid #101820;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.05s ease;
}

.standard-radio .standard-radio-label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #101820;
  opacity: 0;
  transition: opacity 0.05s ease;
}

.standard-checkbox input[type='checkbox']:checked + .standard-checkbox-label::after,
.standard-radio input[type='radio']:checked + .standard-radio-label::after {
  opacity: 1;
}

/* Small modifier - 18px */
.standard-checkbox.small .standard-checkbox-label,
.standard-radio.small .standard-radio-label {
  padding-left: 26px;
  min-height: 18px;
  line-height: 18px;
}

.standard-checkbox.small .standard-checkbox-label::before,
.standard-radio.small .standard-radio-label::before {
  width: 18px;
  height: 18px;
}

.standard-checkbox.small .standard-checkbox-label::after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;
}

.standard-radio.small .standard-radio-label::after {
  width: 10px;
  height: 10px;
}

/* Div-only checkbox component */
.div-checkbox {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;
}

.div-checkbox-box {
  box-sizing: content-box;
  position: relative;
  width: 22px;
  height: 22px;
  min-width: 22px;
  background-color: #ffffff;
  border: 1px solid #9a9b97;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #9a9b97;
  transition: box-shadow 0.1s ease;
}

.div-checkbox:hover .div-checkbox-box {
  box-shadow: inset 0 0 0 1px #9a9b97;
}

.div-checkbox-box::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid #101820;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.15s ease;
}

.div-checkbox.checked .div-checkbox-box::after {
  opacity: 1;
}

.div-checkbox-text {
  margin-left: 8px;
  line-height: 22px;
}

/* Small modifier for div-checkbox */
.div-checkbox.small .div-checkbox-box {
  width: 18px;
  height: 18px;
  min-width: 18px;
}

.div-checkbox.small .div-checkbox-box::after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
}

.div-checkbox.small .div-checkbox-text {
  line-height: 18px;
}

.div-checkbox.small .div-checkbox-box.three-dots::after {
  content: '...';
  position: absolute;
  left: 2.1px;
  top: 4px;
  width: 4px;
  height: 9px;
  font-size: 24px;
  color: #101820;
  opacity: 1;
  letter-spacing: -2px;
  line-height: 0px;
  border: none;
  transform: none;
  transition: none;
}

/* Hide checkmark when not checked (prevents flash when removing three-dots) */
.div-checkbox:not(.checked) .div-checkbox-box:not(.three-dots)::after {
  opacity: 0;
  transition: none;
}
