.croucher_input {
  // margin-bottom: 16px;
  &_label {
  }
  &_group {
    input,
    input:active,
    input:focus,
    textarea,
    textarea:active,
    textarea:focus {
      outline: none;
      border: 1px solid #dfdfdf;
      border-radius: $rounded-5;
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 16px;
    }
    textarea {
      resize: vertical;
    }
  }

  .croucher_input_invalid {
    border: 1px solid $croucher-red !important;
  }
}

.sign_in_form {
  input {
    border-radius: 5px;
    margin-bottom: 0.25rem;
    border: none;
    outline: none;

    &:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }

    &.has-error {
      border: 1px solid $croucher-red !important;

      &:focus {
        border-color: $croucher-red !important;
        outline: $croucher-red !important;
      }
    }

    &:not(.has-error) {
      &:focus {
        border-color: #dfdfdf !important;
      }
    }
  }

  &.has_error {
    @include md {
      height: 370px !important;
    }
  }
}

.error_message_container_desktop {
  display: none;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  width: 100%;

  @include md {
    display: block;
  }
}

.error_message_container_mobile {
  display: block;
  margin-top: 0.5rem;
  width: 100%;

  @include md {
    display: none;
  }
}

.error_message {
  color: $croucher-red;
  font-size: 14px;
  line-height: 1.2;
  display: block;
  word-wrap: break-word;
  white-space: normal;
  .closer{
    display: none;
  }

  @include md {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

input.checkbox {
  display: none;
}

label.checkbox_label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 2px solid #9a9b97;
    border-radius: 5px;
  }

  &::after {
    content: 'X';
    position: absolute;
    left: 14px;
    top: 0.6em;
    transform: translate(-50%, -50%);
    color: #9a9b97;
    font-size: 25px;
    font-weight: normal;
    visibility: hidden;
  }

  &.mb {
    margin-bottom: 1.8rem;
  }
}

input.checkbox:checked + label.checkbox_label::after {
  visibility: visible
}