.croucher-backup-email-banner {
  background-color: #FFF3CD;
  border-bottom: 1px solid #FBE6A2;
  padding: 1rem;
  width: 100%;
  z-index: 100;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
  }

  @media (min-width: 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    gap: 0.75rem;
    justify-content: center;

    @media (min-width: 640px) {
      align-items: center;
    }
  }

  &__icon {
    color: #B98900;
    font-size: 1.25rem;
    line-height: 1;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 600;
    color: #856404;
    margin: 0;


    button, a {
      background: none;
      border: none;
      padding: 0;
      color: inherit;
      text-decoration: underline;
      font-weight: 600;
      cursor: pointer;

      &:hover, &:focus {
        color: #533f03;
        outline: none;
      }
    }
  }

  &__close {
    display: flex;
    flex-shrink: 0;
    margin-left: 1rem;

    &-btn {
      margin: -0.375rem;
      display: flex;
      padding: 0.375rem;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }

      &:focus {
        outline: none;
      }

      svg {
        height: 1rem;
        width: 1rem;
        color: #111827;
      }
    }
  }
}
