.image_banner_dimension_badge {
    position: absolute; /* absolute */
    color: white; /* text-white */
    top: 0; /* top-0 */
    left: 0; /* left-0 */
    z-index: 30; /* z-30 */
    padding: 0.5rem; /* p-2 */
    background-color: black; /* bg-black */
    font-size: 14px; /* text-[14px] */
    font-family: "Lettera Regular Web", sans-serif !important;
}