.image_banner_dimension_badge {
    color: white; /* text-white */
    z-index: 30; /* z-30 */
    background-color: black; /* bg-black */
    font-family: "Lettera Regular Web", sans-serif !important;
}