$container-max-width-lg: 1218px;

// colors
$croucher-red: #ee3a43;
$black: #000000;
$white: #ffffff;
$light-gray: #f3f3f0;
$light-gray1: #a4a5a9;
$csw-public-red: #D7205F;
$csw-teal: #5FC1C7;

// pixels
$rounded-5: 5px;
$rounded-20: 20px;
$font-black: #020202;
