$container-max-width-lg: 1218px;

// colors
$color-black: #000000;
$croucher-red: #ee3a43;
$csw-magenta: #E14CA3;
$croucher-dark: $color-black;
$black: $color-black;
$white: #ffffff;
$light-gray: #f3f3f0;
$light-gray1: #a4a5a9;
$csw-public-red: #D7205F;
$csw-teal: #5FC1C7;
$sef-blue: #2B91C9;
$sef-green: #73B87A;
$blue: #00afdb;
$green: #74b87a;
$gray-1: #d9d9d9;
$gray-2: #d9d8d0;

// pixels
$rounded-5: 5px;
$rounded-20: 20px;
$font-black: $color-black;
