$font-black: #101820;
$croucher-red: #EE3A43;
$font-gray-hover: #7e827a;

@font-face {
  font-family: "MarrSans";
  font-weight: normal;
  src: url("#{$font-path}MarrSans-Regular.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "MarrSans";
  font-weight: 600;
  src: url("#{$font-path}MarrSans-Semibold.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "MarrSans";
  font-weight: 400;
  font-style: italic;
  src: url("#{$font-path}MarrSans-RegularItalic.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "MarrSans";
  font-weight: 800;
  font-style: italic;
  src: url("#{$font-path}MarrSans-BoldItalic.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "Lettera Regular Web";
  font-weight: normal;
  src: url("#{$font-path}LetteraMonoLLWeb-Regular.woff") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "Blanco";
  font-weight: normal;
  font-style: normal;
  src: url("#{$font-path}Blanco-Regular.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "Blanco";
  font-weight: bold;
  font-style: normal;
  src: url("#{$font-path}Blanco-Bold.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "Blanco";
  font-weight: normal;
  font-style: italic;
  src: url("#{$font-path}Blanco-Italic.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "Blanco";
  font-weight: bold;
  font-style: italic;
  src: url("#{$font-path}Blanco-BoldItalic.otf") format("opentype");
  font-display: block;
}


$typo: (
  title: (
    fontsize: 40px,
    fontweight: 600,
    lineheight: 54px,
  ),
  pagetitle: (
    fontsize: 42px,
    fontweight: 600,
    lineheight: 50px,
  ),
  standfirst: (
    fontsize: 26px,
    fontweight: 400,
    lineheight: 34px,
  ),
  bodysubtitle: (
    fontsize: 26px,
    fontweight: 400,
     lineheight: 34px,
  ),
  subtitle: (
    fontsize: 36px,
    fontweight: 600,
    lineheight: 40px,
  ),
  smallsubtitle: (
    fontsize: 32px,
    fontweight: 600,
    lineheight: 40px,
  ),
  body: (
    fontsize: 20px,
    fontweight: 400,
    lineheight: 30px,
  ),
  sub-nav-title: (
    fontsize: 18px,
    fontweight: 400,
    lineheight: 21.6px,
  ),
  preview-title: (
    fontsize: 24px,
    fontweight: 400,
    lineheight: 32px,
  ),
);

// Link styles specifically within preview title blocks
.text-preview-title:not(.document) {
  a {
    color: $font-black !important;
  }
  a:hover, a:active, a:visited, a:focus {
    text-decoration: underline !important;
    color: $font-black !important;
    .chinese_name {
      color: #7e827a !important;
    }
  }
  // for including blue switch action menu
  &:hover {
    text-decoration: underline !important;
    color: $font-black !important;
  }
}

.text-preview-title:hover {
  .shortened {
    text-decoration: underline !important;
    color: $font-black !important;
  }
}

.grant, .award {
  &:has(.text-preview-title) {
    a:hover {
      color: $font-black !important;
    }
  }
}

.f-16 {
  font-size: 16px !important;
}

.f-20 {
  font-size: 20px !important;
}

@each $name, $style in $typo {
  .text-#{$name} {
    color: $font-black;
    .dark & {
      color: var(--color-text-primary);
    }
    font-size: map-get($style, fontsize);
    line-height: map-get($style, lineheight);
    font-weight: map-get($style, fontweight);

    // Mobile styles
    @media (max-width: 767px) {
      @if $name == title {
        font-size: 32px;
        line-height: 36px;
      } @else if $name == standfirst {
        font-size: 26px;
        line-height: 34px;
      } @else if $name == subtitle {
        font-size: 32px;
        line-height: 36px;
      } @else {
        // Use the same values for body in mobile view
        font-size: map-get($style, fontsize);
        line-height: map-get($style, lineheight);
      }
    }
  }
}

.text-title, .text-standfirst {
  max-width: 794px;
  &.detail-standfirst {
    max-width: unset;
  }
  &.full-width {
    max-width: 100%;
  }
}

.rte_content_body h2, .text-subtitle, .text-smallsubtitle, .search-title {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $croucher-red;
  }

  @media (min-width: 0px) {
    padding-left: 18px;

    &::before {
      width: 7px;
      height: calc(100% - 12px);
      left: 0;
      top: 3px;
    }
  }

  @media (min-width: 768px) {
    padding-left: 4px;
    margin-left: 23px;

    &::before {
      left: -23px;
      height: calc(100% - 13px);
      width: 11px;
      top: 4px;
    }
  }

  &.no_redtag::before,
  .no_redtag &::before {
    content: none;
  }

  &.no_redtag {
    padding-left: 0;
    margin-left: 0;
  }
}

.text-title.text-title-redline{
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: $croucher-red;
  }

  @media (min-width: 0px) {
    padding-left: 18px;

    &::before {
      width: 7px;
      height: calc(100% - 10px);
      left: 0;
      top: 3px;
    }
  }

  @media (min-width: 768px) {
    padding-left: 4px;
    margin-left: 23px;

    &::before {
      left: -23px;
      height: calc(100% - 13px);
      width: 11px;
      top: 4px;
    }
  }
}

.font-bold {
  font-weight: 600;
}

.standard-link {
  color: $font-black;
  
  &:hover {
    text-decoration: underline;
    color: $font-black !important;
  }
}

.search-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: $font-black;

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 36px;
  }
}

.standard-h3-title {
  color: $font-black;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 18px;
}

.body-copy {
  letter-spacing:.01em !important;
}

.body-copy 
  .text-standfirst, .btn, form {
  letter-spacing: normal !important;
}
