@font-face {
  font-family: "MarrSans";
  font-weight: normal;
  src: url("../../fonts/MarrSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "MarrSans";
  font-weight: 600;
  src: url("../../fonts/MarrSans-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "MarrSans";
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/MarrSans-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "MarrSans";
  font-weight: 800;
  font-style: italic;
  src: url("../../fonts/MarrSans-BoldItalic.otf") format("opentype");
}
