@font-face {
  font-family: "MarrSans";
  font-weight: normal;
  src: url("../../fonts/MarrSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "MarrSans";
  font-weight: 600;
  src: url("../../fonts/MarrSans-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "MarrSans";
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/MarrSans-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "MarrSans";
  font-weight: 800;
  font-style: italic;
  src: url("../../fonts/MarrSans-BoldItalic.otf") format("opentype");
}

$typo: (
  title: (
    fontsize: 46px,
    fontweight: 600,
    lineheight: 54px,
  ),
  standfirst: (
    fontsize: 26px,
    fontweight: 400,
    lineheight: 34px,
  ),
  subtitle: (
    fontsize: 36px,
    fontweight: 600,
    lineheight: 40px,
  ),
  body: (
    fontsize: 20px,
    fontweight: 400,
    lineheight: 30px,
  ),
);

@each $name, $style in $typo {
  .text-#{$name} {
    font-size: map-get($style, fontsize);
    line-height: map-get($style, lineheight);
    font-weight: map-get($style, fontweight);
  }
}
