.footer-container {
  position: relative;
  min-height: 500px;
  width: 100%;
  @include md {
    min-height: 350px;
  }
  
  @include lg {
    min-height: 320px;
  }
  
  &::before {
    content: '';
    display: block;
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
}
.croucher-footer,
.server-footer {
  position: relative;
  width: 100%;
}
:global(.hydrated) .server-footer {
  display: none;
}
