.lead-image-container {
  width: 100%;
  position: relative;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.lead-image {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.lead-image-container--tall {
  aspect-ratio: 3 / 2;
  max-height: 812px;
  overflow: hidden;
}

.lead-image-container--tall .lead-image {
  object-fit: cover;
  height: 100%;
}

@media (min-width: 1024px) {
  .lead-image-container {
    max-width: 1298px;
    margin-left: auto;
    margin-right: auto;
  }
}
