.nav_wrapper {
  padding-top: 25px;
  // padding-bottom: 25px;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // transition: all .8s;
  // z-index: 100;
  background-color: #fff;
  // --nav-height: 135;
  // &.hide {
  //   transition: all .25s ease-in-out;
  //   top: calc(var(--nav-height) * -1px);
  // }
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      @extend %reset-button;
      width: 30px;
      height: 30px;
      right: 13px;
      top: 68px;
    }
    .logo_container {
      width: 57px;
      height: 110px;
      transition: all 0.33s ease;
      transform-origin: left;
      img {
        width: 100%;
        height: 100%;
      }
      &--small {
        transform: scale(0.62);
      }
    }
    .links_container {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: white;
      padding: 0px 24px;
      > ul {
        gap: 30px;
        margin-top: 76px;
        > li {
          list-style: none;
          border-bottom: 1px solid $black;
          line-height: 24px;
          &:first-child {
            border-top: 1px solid $black;
          }
          &:nth-last-child(2) a {
            color: $font-black;
            &:hover {
              color: $croucher-red;
            }
          }
          a {
            font-family: "MarrSans";
            display: block;
            padding: 12px 24px;
            text-decoration: none;
            color: $croucher-red;
            letter-spacing: 0.01em;
            font-weight: 700;
            font-size: 22px;
            &:focus {
              outline: none;
            }
            &:hover {
              color: $font-black;
            }
          }
          > ul {
            gap: 30px;
            > li {
              list-style: none;
              padding: 12px 24px;
              border-bottom: 1px solid $black;
              line-height: 24px;
              &:first-child {
                border-top: 1px solid $black;
              }
              &:last-child {
                border-bottom: none;
              }
              a {
                font-family: "MarrSans";
                display: block;
                padding: 0px 30px;
                text-decoration: none;
                color: $black;
                letter-spacing: 0.01em;
                font-weight: 400;
                font-size: 22px;
                &:focus {
                  outline: none;
                }
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        // li.search_button,
        // li.language_translate {
        //   display: none;
        // }
        .search_button {
          top: -1px;
          position: relative;
          padding: 40px 24px;
          border: none;
          // background-color: #f8f8f5;

          label {
            font-family: "MarrSans";
            display: block;
            text-decoration: none;
            letter-spacing: 0.01em;
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 12px;
          }

          button {
            position: absolute;
            bottom: 53px;
            right: 30px;
            cursor: pointer;
            width: 15px;
            height: 15px;
            border: none;
            background: white;
            padding: 0;
            &:focus {
              outline: none;
            }
          }
          .search_input {
            border-radius: 5px;
            border: none;
            padding: 10px;
            width: 100%;
            outline: none;
            font-size: 16px;
          }
        }
        .sign_in {
          a {
            color: $black;
            font-weight: 400;
            &:hover {
              color: $croucher-red;
            }
            img {
              vertical-align: top;
              margin-top: 2px;
            }
          }
        }
      }
      .close_icon {
        @extend %reset-button;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 24px;
        top: 24px;
        display: none;
      }
      .close_icon--open {
        display: block;
      }
      .menu--open {
        display: block;
      }
    }
    .links_container--open {
      display: block;
      z-index: 999;
    }
  }
  &_spacer {
    height: 135px;
  }

  &.no_padding {
    padding: 0;
    .nav_container {
      .logo_container {
        transition: transform .4s linear;
        transform: scale(0.62);
      }
    }
  }
}

.main_sub_navbar_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  transition: all .8s ease;
  background-color: #fff;
}

@include lg {
  .nav_wrapper {
    padding-top: 25px;
    .nav_container {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu {
        display: none;
      }

      .logo_container {
        width: 57px;
        height: 110px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .links_container {
        display: block;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        > ul {
          display: flex;
          gap: 30px;
          margin-top: unset;
          li {
            list-style: none;
            border: none;
            padding: unset;
            &:first-child {
              border-top: none;
            }
            a {
              font-family: "MarrSans";
              padding: 0;
              display: inline-block;
              text-decoration: none;
              color: $croucher-red;
              letter-spacing: 0.01em;
              font-weight: 700;
              font-size: 16px;
              &:hover {
                color: $black;
              }
              &:focus {
                outline: none;
              }
            }
            a.active {
              color: $black;
            }
            ul {
              display: none;
            }
          }
          li.search_button,
          li.language_translate {
            display: block;
          }
          .search_button {
            padding: 0;
            position: relative;

            button {
              position: relative;
              bottom: 0px;
              right: 0px;
            }

            .search_form_tooltip {
              position: absolute;
              display: none;
              width: 160px;
              height: 42px;
              background: $white;
              right: 0%;
              top: 50%;
              transform: translate(0px, -50%);
              .search_form {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .search_input {
                  width: 100%;
                  height: 72%;
                  border: none;
                  border-bottom: 1px dotted $black;
                  font-size: 19.2px;
                  border-radius: 0px !important;

                  &:focus {
                    outline: none;
                    box-shadow: none !important;
                  }
                }
                .submit_btn {
                  // @extend %reset-button;
                  width: 42px;
                  height: 42px;
                  display: flex;
                  align-items: center;
                  margin-top: -5px;
                  svg {
                    fill: grey;
                    width: 100%;
                  }
                }
              }
            }
            .search_form_tooltip--open {
              display: block;
              z-index: 100;
            }
            button {
              display: flex;
              padding-top: 5px;
              svg {
                fill: $black;
              }
            }
          }
        }
        .close_icon,
        .menu {
          display: none;
        }
      }
    }
  }
}
