.navbar_sub_container {
  background-color: #f8f8f5;
  &:not(.mobile--show) {
    display: none;
  }
  .container {
    @extend %base-container;
    height: 54px;
    // margin-top: 60px;
    // justify-content: flex-end;
    display: flex;
    align-items: center;
    column-gap: 40px;
    a {
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .navbar_sub_links {
    overflow-x: auto;
    a {
      text-wrap: nowrap;
      display: block;
    }
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
}

@include lg {
  .navbar_sub_container {
    display: block;
    &:not(.mobile--show) {
      display: block;
    }
  }
}

.inline-subnav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;

  &.pb {
    padding-bottom: 34px;
  }

  .inline-subnav-link {
    color: $font-black;
    min-height: 40px;
    padding: 14px 14px 10px;
    border: 1px solid $font-black;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: $white;
      background-color: $croucher-red;
      border-color: $croucher-red;
    }
  }
}
