@mixin lgNav {
  .nav_wrapper {
    padding-top: 25px;
    .nav_container {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu {
        display: none;
      }

      .logo_container {
        width: 57px;
        height: 110px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .links_container {
        display: block;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        > ul {
          display: flex;
          gap: 30px;
          margin-top: unset;
          li {
            list-style: none;
            border: none;
            padding: unset;
            &:first-child {
              border-top: none;
            }
            a {
              font-family: 'MarrSans';
              padding: 0;
              display: inline-block;
              text-decoration: none;
              color: $croucher-red;
              letter-spacing: 0.01em;
              font-weight: 700;
              font-size: 16px;
              &:hover {
                color: $black;
              }
              &:focus {
                outline: none;
              }
            }
            a.active {
              color: $black;
            }
            ul {
              display: none;
            }
          }
          li.search_button,
          li.language_translate {
            display: block;
          }
          .search_button {
            padding: 0;
            position: relative;

            button {
              position: relative;
              bottom: 0px;
              right: 0px;
            }

            .search_form_tooltip {
              position: absolute;
              display: none;
              width: 160px;
              height: 42px;
              background: $white;
              right: 0%;
              top: 50%;
              transform: translate(0px, -50%);
              .search_form {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .search_input {
                  width: 100%;
                  height: 72%;
                  border: none;
                  border-bottom: 1px dotted $black;
                  font-size: 19.2px;
                  border-radius: 0px !important;

                  &:focus {
                    outline: none;
                    box-shadow: none !important;
                  }
                }
                .submit_btn {
                  // @extend %reset-button;
                  width: 42px;
                  height: 42px;
                  display: flex;
                  align-items: center;
                  margin-top: -5px;
                  svg {
                    fill: grey;
                    width: 100%;
                  }
                }
              }
            }
            .search_form_tooltip--open {
              display: block;
              z-index: 100;
            }
            button {
              display: flex;
              padding-top: 5px;
              svg {
                fill: $black;
              }
            }
          }

          .user_avatar {
            display: none;
            border: none;
            cursor: pointer;
            width: 49px;
            height: 49px;
            border-radius: 50%;
            overflow: hidden;
            display: block;
            background: none;
            padding: 0;
            margin-top: -1rem;;

            &:focus {
              outline: none;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
            @include lg {
              display: block;
            }
          }
        }
        .close_icon,
        .menu {
          display: none;
        }
      }
    }
  }
}

.nav_wrapper {
  padding-top: 25px;
  padding-bottom: 53px;
  background-color: #fff;
  transition: padding 0.25s ease;
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      @extend %reset-button;
      width: 30px;
      height: 30px;
      right: 13px;
      top: 68px;
      svg {
        display: block;
      }
    }
    .logo_container {
      width: 57px;
      height: 110px;
      transition: all 0.5s ease;
      transform-origin: left;
      img {
        width: 100%;
        height: 100%;
      }
      &--small {
        transform: scale(0.62);
      }
    }
    .book_order_container{
      display: flex;
      cursor: pointer;
      width: auto;
      max-height: 110px;
      transition: all 0.5s ease;
      transform-origin: right;
      align-items: center;
      padding-top: 2px;
    }
    .links_container {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: white;
      padding: 0px 24px;
      > ul {
        gap: 30px;
        margin-top: 76px;
        position: relative;
        > li {
          list-style: none;
          border-bottom: 1px solid $black;
          line-height: 24px;
          &:first-child {
            border-top: 1px solid $black;
          }
          &:nth-last-child(2) a {
            color: $font-black;
            &:hover {
              color: $croucher-red;
            }
          }
          a {
            font-family: 'MarrSans';
            display: block;
            padding: 12px 24px;
            text-decoration: none;
            color: $croucher-red;
            letter-spacing: 0.01em;
            font-weight: 700;
            font-size: 22px;
            &:focus {
              outline: none;
            }
            &:hover {
              color: $font-black;
            }
          }
          > ul {
            gap: 30px;
            > li {
              list-style: none;
              padding: 12px 24px;
              border-bottom: 1px solid $black;
              line-height: 24px;
              &:first-child {
                border-top: 1px solid $black;
              }
              &:last-child {
                border-bottom: none;
              }
              a {
                font-family: 'MarrSans';
                display: block;
                padding: 0px 30px;
                text-decoration: none;
                color: $black;
                letter-spacing: 0.01em;
                font-weight: 400;
                font-size: 22px;
                &:focus {
                  outline: none;
                }
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .search_button {
          top: -1px;
          position: relative;
          padding: 40px 24px;
          border: none;
          // background-color: #f8f8f5;
          display: none;

          label {
            font-family: 'MarrSans';
            display: block;
            text-decoration: none;
            letter-spacing: 0.01em;
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 12px;
          }

          button {
            position: absolute;
            bottom: 53px;
            right: 30px;
            cursor: pointer;
            width: 15px;
            height: 15px;
            border: none;
            background: white;
            padding: 0;
            &:focus {
              outline: none;
            }
          }
          .search_input {
            border-radius: 5px;
            border: none;
            padding: 10px;
            width: 100%;
            outline: none;
            font-size: 16px;

          }

          @include lg {
            display: block;
          }
        }
        .sign_in {
          padding-top: 12px; /* py-[12px] */
          padding-bottom: 12px; /* py-[12px] */
          padding-left: 24px; /* px-[24px] */
          padding-right: 24px; /* px-[24px] */
          border-bottom: 1px solid #000;

          button {
            line-height: inherit;
            font-weight: inherit;
            @extend %reset-button;
            display: flex; /* flex */
            gap: 3.5px; 
            &:hover {
              color: $croucher-red;
            }
            a{
              font-weight: inherit;
            }
          }
          span {
            font-size: 22px;
            letter-spacing: 0.01em;
          }
          @include lg {
            padding-top: 0; /* lg:py-0 */
            padding-bottom: 0; /* lg:py-0 */
            padding-left: 0; /* lg:px-0 */
            padding-right: 0;
            border-bottom: none;
            position: absolute;
            top: 0;
            right: 0;
            span {
              font-size: 16px;
            }
          }
        }

        .user_avatar {
          display: none;
          border: none;
          cursor: pointer;
          width: 49px;
          height: 49px;
          border-radius: 50%;
          overflow: hidden;
          display: block;
          background: none;
          padding: 0;
          margin-top: -1rem;
          
          &_li {
            position: absolute;
            right: 0;
            top: 0;
          }

          &:focus {
            outline: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
          @include lg {
            display: block;
          }
        }
        
        .search_mobile {
          padding: 16px 24px;
          border: none;
          form {
            position: relative;
            input {
              letter-spacing: 0.01em;
              outline: none;
              width: 100%;
              padding: .5rem .75rem;
              padding-right: 20px; 
              border: none;
              background-color: #F3F3F0; 
              border-radius: $rounded-5;
              font-size: 1rem;
              border-width: 1px;
              line-height: 1.5rem;
            }
            button {
              @extend %reset-button;
              position: absolute;
              top: 12px;
              right: 10px;
            }
          }
          @include lg {
            display: none;
          }
        }

        @include lg {
          padding-right: 98px;
        }
      }
      .close_icon {
        @extend %reset-button;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 24px;
        top: 24px;
        display: none;
      }
      .close_icon--open {
        display: block;
      }
      .menu--open {
        display: block;
      }
    }
    .links_container--open {
      display: block;
      z-index: 999;
    }

    .user_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px; 
      @include lg {
        display: none;
      }
    }

    .user_avatar_mobile {
      @extend %reset-button;
      width: 49px;
      height: 49px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
  &_spacer {
    height: 135px;

    &--sub {
      height: 172px;

      @include md {
        height: 242px;
      }
    }
  }

  &.no_padding {
    padding: 0;
    .nav_container {
      .logo_container, .book_order_container {
        transition: transform .4s linear;
        transform: scale(0.62);
      }
    }
  }
}

// Especially for applications which has two logos in navbar
.nav_wrapper.with-logos {
  .logo_container {
    width: unset;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    &.g-40 {
      gap: 40px;
    }
    a:first-child {
      width: 57px;
      height: 110px;
    }

    a:last-child {
      height: 100px;
      img{
        object-fit: contain;
        object-position: left;
      }
    }

    .vertical-line {
      height: 110px;
      border-right: 1px solid $black;
    }
  }
}

.main_sub_navbar_container {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  z-index: 2000;
  transition: all 0.8s ease;
  background-color: #fff;
  transform: translate3d(-50%, 0, 0);
}

.no_mobile {
  @include lgNav;
}

@include lg {
  @include lgNav;
}

@include lg {
  .nav_wrapper.with-logos {
    .logo_container {
      width: unset;
    }
  }
}
