.password-reset-modal {
  .input_group {
    display: flex;
    flex: 1;
    flex-direction: column;

    label {
      color: rgb(2, 2, 2);
    }

    position: relative;
    .eye {
      position: absolute;
      right: 10px;
      top: 38px;
      background: transparent;
      border: none;
      img {
        width: 20px;
      }

      @media (max-width: 768px) {
        top: 62px;
        right: 0;
      }
    }

    input {
      border: none;
      outline: 2px solid transparent;
      outline-offset: 2px;
      margin-bottom: 0.25rem;
      appearance: none;
      background-image: unset;
      background-color: #fff;
      border-color: #6b7280;
      border-width: 1px;
      border-radius: $rounded-5;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

}
