.croucher_search_container {
  height: 0px;
  overflow: hidden;
  transition: height 0.2s ease-in-out, padding 0.35s ease-out;

  &--open {
    padding-top: 60px;
    height: 390px;
    transition: height 0.25s ease-in-out, padding 0.1s ease-out;
  }

  .croucher_search {
    background-color: #f8f8f5;
    min-height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    .search_container {
      flex: 1;

      .search_input {
        position: relative;
        margin-top: 40px;

        input {
          width: 100%;
          border-radius: $rounded-5;
          border: none;
          height: 60px;
          background-color: #fff;
          padding-left: 20px;
          padding-right: 60px;
          font-size: 20px;
          font-family: "MarrSans";
          outline: none;
        }
      }

      .search_btn {
        position: absolute;
        background-color: transparent;
        border: none;
        width: 24px;
        height: 24px;
        top: 18px;
        right: 16px;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  .cross_container {
    @extend %base-container;
    position: relative;

    .cross_icon {
      position: absolute;
      top: -302px;
      right: 40px;
      cursor: pointer;
    }
  }
}
