.search-scholar-box {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.croucher_search_container {
  height: 0px;
  overflow: hidden;
  // transition: height 0.2s ease-in-out, padding 0.35s ease-out;

  &--p {
    padding-top: 60px;
  }


  &--open {
    // padding-top: 60px;
    // margin-bottom: 20px;
    height: 390px;
    // transition: height 0.25s ease-in-out, padding 0.1s ease-out;
  }

  &.mt {
    margin-top: 20px;
  }

  .croucher_search {
    background-color: #f8f8f5;
    min-height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    .input_value{

      input[type="text"] {
        border: 1px solid #000;
        border-radius: 5px;

        &::placeholder{
          color: #000;
        }
      }
    }

    .search_container {
      position: relative;
      flex: 1;

      .search_input {
        position: relative;
        margin-top: 40px;

        input {
          width: 100%;
          border-radius: $rounded-5;
          border: none;
          height: 60px;
          background-color: #fff;
          padding-left: 20px;
          padding-right: 60px;
          font-size: 20px;
          font-family: "MarrSans";
          outline: none;
          &::placeholder{
            color: #717174;
          }
        }
      }

      .search_btn {
        position: absolute;
        background-color: transparent;
        border: none;
        width: 24px;
        height: 24px;
        top: 18px;
        right: 16px;
        padding: 0;
        cursor: pointer;
      }
    }
    .cross_icon {
      position: absolute;
      top: -53px;
      right: 39px;
      cursor: pointer;
    }
  }
}
