@import "../definitions";
.croucher_tag, .token-input-token  {
  padding: 4px 15px;
  border-radius: $rounded-5;
  font-size: 16px;
  color: $black;

  &--grey {
    background-color: $csw-grey-2;
  }
}
.token-input-token {
  background-color: $csw-grey-2;
}

.token-input-delete-token {
  color: $black !important;
}
