@import "./containers-extend";

$gap: 30px;
$max-width: 878px;

.croucher_container {
  @extend %base-container;
}

.croucher_container.centered {
  @extend %base-center-container;
}

.croucher_image_container {
  @extend %base-image-container;
}

.croucher_center_container {
  max-width: 878px;
  margin: 0 auto;
}

.card_container {
  @extend %base-card-container;

  &--trustees {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $gap;
    width: 100%;
    justify-items: center;

    > * {
      width: 100%;
    }

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--summercourse {
    @extend %base-card-container;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }

    &.four-cols {
      @include lg {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

.cards-order-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  min-height: 100px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.detail_page_container {
  @extend %detail-page-container;
}

.container-item-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}