%base-container {
  padding: 0px 16px;
  // min-height: 60vh;
  @include sm {
    max-width: 1298px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 40px;
  }
}

%base-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  @include sm {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
  @include xl {
    grid-template-columns: repeat(3, 1fr);
    max-width: unset;
  }
}

%detail-page-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  @include lg {
    flex-direction: unset;
    gap: 70px;
  }
}

%base-image-container {
  width: 100%;
  padding: 0px 0px;

  @include md {
    max-width: 1298px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 40px;
  }

  &.pt {
    padding-top: 60px;
  }
}