@import "./containers-extend";

.croucher_container {
  @extend %base-container;
}

.croucher_container.centered {
  @extend %base-center-container;
}

.croucher_image_container {
  @extend %base-image-container;
}

.croucher_center_container {
  max-width: 878px;
  margin: 0 auto;
}

.card_container {
  @extend %base-card-container;
}
.card_container--trustees {
  @extend %base-card-container;
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  @include xl {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

.detail_page_container {
  @extend %detail-page-container;
}

.container-item-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card_container--summercourse {
  @extend %base-card-container;

  
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }

  &.four-cols {
    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}