.standard-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(61, 61, 61, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 2001;
  display: none;

  &.active {
    display: flex;
    z-index: 2002;
  }
}

.standard-modal-container {
  background-color: white;
  border-radius: 0.5rem;
  max-width: 798px;
  width: 100%;
  min-width: 300px;
  overflow-y: auto;
  position: relative;
  display: none;
  &.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 90vh;
    height: fit-content;
    transform: none;
    z-index: 1001;
  }

  @media (max-width: 800px) {
    max-width: 358px;
    max-height: 100vh;
  }

  .container {
    padding: 0 96px 0 96px;

    @media (max-width: 800px) {
      padding: 0 60px 2px 60px;
    }

    p {
      margin-bottom: 6px;

      &.mb {
        margin-bottom: 26px;
      }
    }

    > ul:not(.standard-dropdown__list),
    .modal-content ul:not(.standard-dropdown__list) {
      list-style-type: none;
      padding-left: 1.2rem;

      li {
        margin-bottom: 6px;
        position: relative;

        &::before {
          content: "—";
          position: absolute;
          left: -1.6rem;
          width: 1.5rem;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }

  .logo {
    height: 40px;
    margin-left: 96px;
    margin-bottom: 3rem;
    margin-top: 58px;

    @media (max-width: 800px) {
      height: 30px;
      margin-left: 60px;
      margin-bottom: 2rem;
      margin-top: 40px;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.6rem;

    @media (max-width: 800px) {
      font-size: 20px;
      margin-bottom: 1.4rem;
    }

    &.mb {
      margin-bottom: 2.6rem;
    }
  }

  p,
  ul {
    font-size: 18px;

    br {
      display: block;
      margin-bottom: 10px;
      content: "";
    }
  }

  .container ul.groups,
  .modal-content ul.groups {
    padding-left: 0 !important;
    
    li {
      &::before {
        content: none !important;
      }
    }
  }

  br {
    display: block;
    margin-bottom: 10px;
    content: "";
  }

  .standard-selection-list ul {
    padding: 0;
    li {
      &::before {
        content: none;
      }
    }
  }

  .modal-content ul:not(.standard-dropdown__list),
  .container > ul:not(.standard-dropdown__list) {
    list-style-type: none;
    padding-left: 1.2rem;

    li {
      margin-bottom: 6px;
      position: relative;

      &::before {
        content: "—";
        position: absolute;
        left: -1.6rem;
        width: 1.5rem;
        display: inline-block;
        text-align: center;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .inputs {
      margin-top: 2.1rem;

      @media (max-width: 800px) {
        margin-top: 2rem;
      }

      input:not([type="checkbox"]):not([type="radio"]),
      textarea,
      [contenteditable]:not([contenteditable="false"]) {
        border: none;
        border-bottom: 2px solid #9a9b97;
        padding: 0.5rem 0;
        margin-bottom: 2.5rem;
        font-size: 1rem;
        outline: none;
        width: 100%;
        -webkit-appearance: none;
        box-shadow: none;

        @media (max-width: 800px) {
          margin-bottom: 1.6rem;
        }

        &:focus {
          border-bottom-color: black;
          outline: none;
          box-shadow: none;
          -webkit-appearance: none;
        }
      }
    }
  }

  .input-group {
    position: relative;
    width: 100%;

    .error-message {
      color: $croucher-red;
      position: absolute;
      bottom: 20px;
      left: 0;
      font-size: 13px;

      @media (max-width: 800px) {
        bottom: 6px;
        font-size: 12px;
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: column;

    .between-letter {
      padding: 5px 0px;
    }

    @media (min-width: 640px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  .relative {
    position: relative;

    .password-toggle {
      position: absolute;
      right: 0;
      top: 19%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #6b7280;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;

      &:hover {
        color: #374151;
      }

      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        width: 24px;
        height: 24px;
      }

      .eye-closed {
        display: inline-block;
      }

      .eye-open {
        display: inline-block;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 12px 96px 60px 96px;

    @media (max-width: 800px) {
      justify-content: space-between;
      padding: 12px 30px 40px 30px;

      &:has(button:only-child) {
        justify-content: flex-end;
      }
    }

    .submit:disabled,
    input[type="submit"]:disabled {
      cursor: not-allowed !important;
      opacity: 0.6 !important;
    }

    .submit:disabled:hover,
    input[type="submit"]:disabled:hover {
      background-color: black !important;
      color: white !important;
      opacity: 0.6 !important;
    }

    button,
    .submit-button {
      border-radius: 9999px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 7px 25px 4px 25px;
    }

    .standard-modal-submit {
      border-radius: 9999px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px 25px 8px 25px;
    }

    .cancel {
      background-color: white;
      border: 1px solid black;
      color: black;

      &:hover {
        background-color: $croucher-red;
        color: white;
        border: 1px solid $croucher-red;
      }
    }

    .submit,
    input[type="submit"] {
      background-color: black;
      border: none;
      color: white;
      border: 1px solid black;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
}
