.croucher_image_award {
  position: relative;

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .first-row {
    margin: 0 auto 23px auto;
    max-width: 1003px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  .image-caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    color: #fff;
    padding-inline: 1.5%;
    padding-block: 17px;
    align-items: flex-start;

    .active-icon {
      background-color: rgba(1, 1, 1, 0.9);
      height: 1.5rem;
      width: 1.5rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      pointer-events: unset;
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .close-icon {
      display: none;
      padding: 0.3rem;
      cursor: pointer;
      pointer-events: unset;
      position: absolute;
      right: 12px;
      top: 15px;
    }

    .image-caption-text {
      display: none;
      margin: 0;
      font-family: "Lettera Regular Web", sans-serif;
      font-size: 14px;
      text-align: right;
      padding-right: 48px;
    }

    &.active {
      background: $black;
      gap: 0.1rem;

      .active-icon {
        display: none;
      }
      .close-icon {
        display: block;
      }
      .image-caption-text {
        display: block;
      }
    }
  }

  .photo-gallery {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include md {
      flex-direction: row;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 1;
    }

    .photo {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

.i-format-container {
  position: absolute;
  width: 100%;
  top: 0;

  &.active {
    .i-format-text  {
      display: block;
    }
  }

  .i-format {
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;
  }

  .i-format-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    background-color: black;
    padding: 15px 50px 15px 25px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    display: none;
    text-align: right;

    &.__open {
      display: block;
    }

    p {
      display: inline-block;
      line-height: 22.4px;
      font-size: 14px;
      font-weight: 400;
      font-family: "Lettera Regular Web";
    }
    .close-icon {
      width: 24px;
      height: 24px;
      z-index: 20;
      color: white;
      position: absolute;
      top: 16px;
      right: 19px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      font-size: 12px;
      cursor: pointer;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
