@import './buttons-extend';

input.croucher-standard-btn[type='submit'],
a.croucher-standard-btn,
button.croucher-standard-btn,
.croucher-standard-btn {
  @extend %base_btn!optional;
  color: $croucher-dark;

  &.sef_save_btn{
    background-color: $sef-green;
    color: white;
    border: 1px solid $sef-green;
    &:hover {
      background: $white;
      color: $sef-green;
    }
  }

  &.sef_save_preview_btn{
    background-color: $sef-blue;
    color: white;
    border: 1px solid $sef-blue;
    &:hover {
      background: $white;
      color: $sef-blue;
    }
  }

  &:hover {
    background: $croucher-red;
  }

  &.inline {
    display: inline-block;
  }

  &.disabled, &.disabled:hover, &.unavailable, &.unavailable:hover {
    color: $light-gray1;
    background: white;
    border-color: $light-gray1;
    cursor: default;
    pointer-events: none;
  }
}

a.sef_cancel_btn{
  border: 1px solid $sef-blue;
  &:visited{
    color: $sef-blue;
  }
  &:hover{
    background-color: $sef-blue;
    color: white;
    border: 1px solid $sef-blue;
  }
  color: $sef-blue;
}

input.viewall_btn,
a.viewall_btn,
.viewall_btn {
  @extend %base_btn!optional;
  padding-right: 18px;
  color: $croucher-dark;

  &:hover {
    background: $croucher-red;
  }

  &.disabled, &.disabled:hover, &.unavailable, &.unavailable:hover {
    color: $light-gray1;
    background: white;
    border-color: $light-gray1;
    cursor: default;
    pointer-events: none;
  }
}

.modal-btn {
  background: $light-gray;
}

.view-all-btn {
  background: white;
  &:hover {
    background: $croucher-red;
  }
}

@media only screen and (max-width: 600px) {
  .croucher-standard-btn.view-all-btn {
    height: auto;
  }
}

.comment-btns {
  width: 1218px;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  margin: 0 20px;
  .btn {
    color: #9b9a97;
    font-size: 20px;
    gap: 0.5rem;
  }
}