%base_btn {
  cursor: pointer;
  padding: 3px 25px 0 25px;
  font-family: 'MarrSans' !important;
  width: max-content;
  height: 40px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 30px !important;
  border: 1px solid $croucher-dark;
  color: $croucher-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: unset;
  &:hover {
    border: 1px solid $croucher-red;
    color: white;
    text-shadow: unset !important;
  }
}
