#detail-page {
  #content {
    width: 75%;
    max-width: 799px;
    margin-left: auto;
    margin-right: auto;
  }
}

.csc-profile-detail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 30px;

  @include lg {
    grid-template-columns: repeat(12, 1fr);
    max-width: unset;
  }

  .content-section {
    order: 3;

    @include lg {
      order: 1;
    }
    grid-column: span 7 / span 7;
  }

  .space {
    display: none;
    order: 2;
    @include lg {
      display: block;
      grid-column: span 1 / span 1;
    }
  }

  .profile-img-section {
    grid-column: span 4 / span 4;
    order: 1;
    width: 386px;
    height: 430px;
    @include lg {
      order: 3;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      @include lg {
        max-height: none;
      }
    }
  }
}
