@mixin padding-generator($direction, $values) {
  @if $direction == "t" {
    padding-top: map-get($values, padding-top);
  } @else if $direction == "b" {
    padding-bottom: map-get($values, padding-bottom);
  }
}

@mixin margin-generator($direction, $values) {
  @if $direction == "t" {
    margin-top: map-get($values, margin-top) !important;
  } @else if $direction == "b" {
    margin-bottom: map-get($values, margin-bottom) !important;
  }
}

@mixin element-type-padding-generator($list, $type) {
  @each $name, $styles in $list {
    $desktop_values: map-get($styles, desktop);
    $mobile_values: map-get($styles, mobile);

    .p#{$name}_#{$type} {
      @include padding-generator($name, $desktop_values);

      // Mobile styles
      @media (max-width: $screen-sm-max) {
        @include padding-generator($name, $mobile_values);
      }
    }
  }
}

@mixin element-type-margin-generator($list, $type) {
  @each $name, $styles in $list {
    $desktop_values: map-get($styles, desktop);
    $mobile_values: map-get($styles, mobile);

    .m#{$name}_#{$type} {
      @include margin-generator($name, $desktop_values);

      // Mobile styles
      @media (max-width: $screen-sm-max) {
        @include margin-generator($name, $mobile_values);
      }
    }
  }
}

