$title-spacers: (
  t: (
    padding-top: 53px,
  ),
  b: (
    padding-bottom: 41px,
  ),
);

$standfirst-spacers: (
  b: (
    padding-bottom: 46px,
  ),
);

$subtitle-spacers: (
  b: (
    margin-bottom: 15px,
  ),
);
