$screen-sm-max: 767px;

$title-spacers: (
  t: (
    desktop: (padding-top: 53px),
    mobile: (padding-top: 56px),
  ),
  b: (
    desktop: (padding-bottom: 41px),
    mobile: (padding-bottom: 46px),
  ),
);

$banner-image-spacers: (
  t: (
    desktop: (padding-top: 60px),
    mobile: (padding-top: 60px),
  ),
  b: (
    desktop: (padding-bottom: 60px),
    mobile: (padding-bottom: 60px),
  ),
);

$standfirst-spacers: (
  t: (
    desktop: (padding-top: 46px),
    mobile: (padding-top: 50px),
  ),
  b: (
    desktop: (padding-bottom: 46px),
    mobile: (padding-bottom: 50px),
  ),
);

$bodysubtitle-spacers: (
  b: (
    desktop: (padding-bottom: 30px),
    mobile: (padding-bottom: 30px),
  ),
);

$paragraph-spacers: (
  b: (
    desktop: (padding-bottom: 54px),
    mobile: (padding-bottom: 54px),
  ),
);

$paragraph-header-spacers: (
  b: (
    desktop: (padding-bottom: 23px),
    mobile: (padding-bottom: 23px),
  ),
);

$subtitle-spacers: (
  b: (
    desktop: (margin-bottom: 15px),
    mobile: (margin-bottom: 18px),
  ),
);

$search-title-spacers: (
  b: (
    desktop: (margin-bottom: 15px),
    mobile: (margin-bottom: 18px),
  ),
);

$subbox-spacers: (
  t: (
    desktop: (margin-top: 60px),
    mobile: (margin-top: 60px),
  ),
  b: (
    desktop: (margin-bottom: 60px),
    mobile: (margin-bottom: 60px),
  ),
);

$viewall-btn-spacers: (
  t: (
    desktop: (margin-top: 25px),
    mobile: (margin-top: 25px),
  ),
  b: (
    desktop: (margin-bottom: 60px),
    mobile: (margin-bottom: 60px),
  ),
);

$section-spacers: (
  t: (
    desktop: (margin-top: 46px),
    mobile: (margin-top: 46px),
  ),
  b: (
    desktop: (margin-bottom: 46px),
    mobile: (margin-bottom: 46px),
  ),
);

$title-with-no-lead-image-spacers: (
  t: (
    desktop: (padding-top: 53px),
    mobile: (padding-top: 56px),
  ),
  b: (
    desktop: (padding-bottom: 14px),
    mobile: (padding-bottom: 19px),
  ),
);

$standfirst-with-no-lead-image-spacers: (
  t: (
    desktop: (padding-top: 46px),
    mobile: (padding-top: 50px),
  ),
  b: (
    desktop: (padding-bottom: 70px),
    mobile: (padding-bottom: 60px),
  ),
);

$standfirst-with-tabs-spacers: (
  b: (
    desktop: (padding-bottom: 28px),
    mobile: (padding-bottom: 28px),
  ),
);