$screen-sm-max: 767px;

$title-spacers: (
  t: (
    desktop: (padding-top: 53px),
    mobile: (padding-top: 56px),
  ),
  b: (
    desktop: (padding-bottom: 41px),
    mobile: (padding-bottom: 46px),
  ),
);

$standfirst-spacers: (
  b: (
    desktop: (padding-bottom: 46px),
    mobile: (padding-bottom: 50px),
  ),
);

$subtitle-spacers: (
  b: (
    desktop: (margin-bottom: 15px),
    mobile: (margin-bottom: 18px),
  ),
);

$subbox-spacers: (
  t: (
    desktop: (margin-top: 60px),
    mobile: (margin-top: 60px),
  ),
  b: (
    desktop: (margin-bottom: 60px),
    mobile: (margin-bottom: 60px),
  ),
);

$viewall-btn-spacers: (
  t: (
    desktop: (margin-top: 25px),
    mobile: (margin-top: 25px),
  ),
  b: (
    desktop: (margin-bottom: 60px),
    mobile: (margin-bottom: 60px),
  ),
);