@import "./cards-extend";

.default_card {
  @extend %base-card;
  .img_container {
    width: 100%;
    height: 180px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .card_badge {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 6px 9px 3px 9px;
      background-color: $croucher-red;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
    }
  }
  .body_container {
    padding: 18px 15px 9px;
    min-height: 180px;
    .card_title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 12px;
      margin-top: 7px;
    }
    .card_desc {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
    }
  }
  &:hover {
    .card_title {
      text-decoration: underline;
    }
  }
}
@include sm {
  .default_card {
    .img_container {
      width: 100%;
      height: 210px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .body_container {
      padding: 15px;
      min-height: 210px;
      .card_title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 12px;
        margin-top: 7px;
      }
      .card_desc {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
      }
    }
    &:hover {
      .card_title {
        text-decoration: underline;
      }
    }
  }
}
