@import "./cards-extend";

.default_card {
  @extend %base-card;
  position: relative;
  --default-card-height: 198px;
  --default-card-small-height: 198px;

  .dark & {
    background-color: var(--color-background-card); // Charcoal
    
    .body_container {
      .card_title {
        color: var(--color-text-primary); // White
      }
      .card_desc {
        color: $white;
        .card_item .text {
           color: $white;
        }
      }
      .card_note {
        color: #9ca3af;
      }
      .card_item {
        .icon svg:not(.play_icon) {
           filter: brightness(0) invert(1);
        }
      }
    }
  }

  .img_container {
    width: 100%;
    height: var(--default-card-height);
    overflow: hidden;
    border-top-left-radius: $rounded-5;
    border-top-right-radius: $rounded-5;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .image-award-caption {
      font-family: "Lettera Regular Web", sans-serif;
      font-size: 14px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      right: 0;
      top: 0;
      color: $white;
      text-align: right;
      padding: 10px;
      opacity: 0;
      transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
    }

    &:hover {
      .image-award-caption {
        opacity: 1;
      }
    }
  }

  .body_container {
    padding: 18px 15px 23px;
    min-height: var(--default-card-height);
    position: relative;

    .card_badge {
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      left: 0;
      padding: 6px 5px 2px 5px;
      background-color: $croucher-red;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;

      &.csw_badge {
        background-color: $csw-teal;
        .dark & {
          background-color: #F6E36C;
          color: black;
        }
      }
    }

    .story_tag {
       color: #D7205F;
       transition: color 0.3s ease;
    }

    .card_title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 12px;
      margin-top: 7px;
    }

    .card_desc {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;

      &>div {
        margin-bottom: 6px;

        &.card_meta_divider {
          margin-bottom: 15px;
        }
      }
    }

    &.csw_card_body {
      height: 100%;
    }

    .card_note {
      position: absolute;
      bottom: 15px;
      font-style: italic;
      color: $light-gray1;
    }

    .card_item {
      display: flex;
      align-items: flex-start;

      gap: 11px;

      .icon {
        min-width: 20px;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .clock_icon {
          width: 1em;
          height: 1em;
        }

        .location_icon {
          width: 1em;
          height: 1em;
        }

        .circle_icon {
          margin-top: 4px;
          width: 13px;
          height: 13px;
        }

        .play_icon {
          width: 39px;
          height: 39px;
          .dark & {
            path, circle {
              fill: #F6E36C !important;
            }
          }
        }
      }

      .text {
        .mt-8 {
          margin-top: 8px;
        }
      }

      &.mb-17 {
        margin-bottom: 17px;
      }
    }
  }

  &:hover {
    color: unset;

    .csw_card_body {
      background: $csw-public-red;
      .dark & {
        background: var(--card-hover-bg, $csw-magenta);
        color: $black;
      }
      color: $white;
      .card_item {
        p,
        div,
        .text {
          color: $white;
          .dark & {
            color: $black;
          }

          * {
            color: $white;
            .dark & {
              color: $black;
            }
          }
        }
        .icon {
          svg {
            filter: brightness(0) invert(1);
            .dark & {
              filter: brightness(0);
            }

            path,
            circle {
              fill: $white;
              .dark & {
                fill: $black;
              }
            }
          }
        }
      }
    }

    .card_title {
      &:not(.csw_title):not(.no_underline) {
        text-decoration: underline;
      }

      &.csw_title {
        color: white;
        .dark & {
          color: $black;
        }
      }
    }

    .part-of {
      color: $white;
      .dark & {
        color: $black;
      }
    }
    
    .story_tag {
       color: $white;
       .dark & {
         color: $black;
       }
    }
  }

  &:visited {
    color: $black;
  }

  &.default_card--small {
    .img_container {
      min-height: var(--default-card-small-height);
      height: var(--default-card-small-height);
    }

    .body_container {
      min-height: var(--default-card-small-height);
    }
  }

  .story_card & {
    .dark & {
      background-color: transparent;
      
      .body_container {
        padding: 15px 0 0 0;
      }
      
      .story_tag {
        color: #F6E36C;
      }

      &:hover {
        .csw_card_body {
          background: transparent;
        }
        .card_title {
          text-decoration: none;
          color: var(--color-text-primary);
          &.csw_title {
             color: var(--color-text-primary);
          }
        }
        .story_tag {
           color: #F6E36C;
        }
      }
    }
  }
}

.orderable-card {
  padding: 16px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: grab;
  transition: transform 0.15s ease, box-shadow 0.15s ease, opacity 0.15s ease;
  user-select: none;
  position: relative;
  min-height: 60px;
  display: flex;
  &.dragging {
    opacity: 0.8;
    cursor: grabbing;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    z-index: 1000;
  }
  &.drag-over-swap {
    border: 2px dashed #2c91c9;
  }
  &.drop-indicator-top::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: 1px;
    border: 2px dashed #2c91c9;
  }
  &.drop-indicator-bottom::after {
    content: '';
    position: absolute;
    right: -11px;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: 1px;
    border: 2px dashed #2c91c9;
  }
  .orderable-card-title {
    margin: 0;
    pointer-events: none;
    font-weight: 500;
  }
}

@include sm {
  .default_card {
    --default-card-height: 210px;
    --default-card-small-height: 153px;
    .body_container {
      padding: 15px;

    }
  }
}