@import "./cards-extend";

.default_card {
  @extend %base-card;
  position: relative;
  --default-card-height: 198px;
  --default-card-small-height: 198px;

  .img_container {
    width: 100%;
    height: var(--default-card-height);
    overflow: hidden;
    border-top-left-radius: $rounded-5;
    border-top-right-radius: $rounded-5;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .image-award-caption {
      font-family: "Lettera Regular Web", sans-serif;
      font-size: 14px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      right: 0;
      top: 0;
      color: $white;
      text-align: right;
      padding: 10px;
      opacity: 0;
      transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
    }

    &:hover {
      .image-award-caption {
        opacity: 1;
      }
    }
  }

  .body_container {
    padding: 18px 15px 23px;
    min-height: var(--default-card-height);
    position: relative;

    .card_badge {
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      left: 0;
      padding: 6px 5px 2px 5px;
      background-color: $croucher-red;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;

      &.csw_badge {
        background-color: $csw-teal;
      }
    }

    .card_title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 12px;
      margin-top: 7px;
    }

    .card_desc {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;

      &>div {
        margin-bottom: 6px;
      }
    }

    &.csw_card_body {
      height: 100%;
    }

    .card_note {
      position: absolute;
      bottom: 15px;
      font-style: italic;
      color: $light-gray1;
    }

    .card_item {
      display: flex;
      align-items: flex-start;

      gap: 11px;

      .icon {
        min-width: 22px;
        min-height: 22px;
        display: flex;
        justify-content: center;


        .clock_icon {
          width: 22px;
          height: 22px;
        }

        .location_icon {
          width: 22px;
          height: 22px;
        }

        .circle_icon {
          margin-top: 4px;
          width: 13px;
          height: 13px;
        }

        .play_icon {
          width: 39px;
          height: 39px;
        }
      }

      .text {
        .mt-8 {
          margin-top: 8px;
        }
      }

      &.mb-17 {
        margin-bottom: 17px;
      }
    }
  }

  &:hover {
    color: unset;

    .csw_card_body {
      background: $csw-public-red;
      color: $white;
      .card_item {
        p,
        div,
        .text {
          color: $white;

          * {
            color: $white;
          }
        }
        .icon {
          svg {
            filter: brightness(0) invert(1);

            path,
            circle {
              fill: $white;
            }
          }
        }
      }
    }

    .card_title {
      &:not(.csw_title):not(.no_underline) {
        text-decoration: underline;
      }

      &.csw_title {
        color: white;
      }
    }

    .part-of {
      color: $white;
    }
  }

  &:visited {
    color: $black;
  }

  &.default_card--small {
    .img_container {
      min-height: var(--default-card-small-height);
      height: var(--default-card-small-height);
    }

    .body_container {
      min-height: var(--default-card-small-height);
    }
  }
}



@include sm {
  .default_card {
    --default-card-height: 210px;
    --default-card-small-height: 153px;
    .body_container {
      padding: 15px;

    }
  }
}