.croucher_hero_image {
  width: 100%;
  height: auto;
  max-height: 812px;
  object-fit: cover;
  display: block;

  @include md {
    border-radius: 5px;
    height: auto;
    max-height: 812px;
  }
}

.bannerImage {
  width: 100%;
  max-height: 812px;
  height: auto;
  object-fit: cover;
}

.bannerImageContainer {
  max-height: 812px;
  overflow: hidden;
}
